@import url('./common/layout.css');
@import url('../component/board/boardItem.css');
@import url('../component/header/header.css');

.boardList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    overflow-y: scroll;
}

.write {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 중앙 정렬에서 시작 정렬로 변경 */
    justify-content: center;
    row-gap: 32px;
    padding: 40px 0 24px 0;
    width: 100%; /* .write 영역이 부모 컨테이너의 전체 너비를 차지하도록 설정 */
}

.write h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: rgba(69, 72, 84, 1);
    text-align: center;
    width: 100%; /* h2도 중앙 정렬을 유지하도록 설정 */
}

.write a {
    margin-left: auto; /* 링크를 오른쪽으로 밀어붙임 */
    margin-right: 10px;
    padding: 7px 32px;
    border-radius: 18px;
    background-color: #aca0eb;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

b {
    font-weight: 700;
}

.write a:hover {
    background-color: #7f6aee; /* 여기서 색상을 원하는 색으로 변경하세요 */
}
